<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container mx-auto px-5">
      <h1 class="text-3xl font-bold">Blog</h1>
    </header>
    <main class="container mx-auto mt-5 px-5 flex">
      <%= yield %>
    </main>
    <footer class="container mx-auto px-5">
      <p class="mt-5">
        Our blog has <%= Article.public_count %> articles and counting!
      </p>
    </footer>
  </body>
</html>
